*
  box-sizing border-box

body#test
  &:not(.show-focus)
    [tabindex]:focus, *:focus
      outline none

  main > section
    display flex
    flex-wrap wrap
    justify-content flex-start

  aside.results
    font 14px var(--monospace)
    white-space pre
    flex-basis 100%
    padding 0 10px

    span
      display block

    span.result.OK
      color green

    span.result:not(.OK)
      color red

  .test-container > span:first-of-type
    font 14px var(--monospace)
    width 100%
    display block
    padding 15px 0

  h2
    flex-basis 100%

  .fail
    color red

  .test-container
    border 1px solid #eaeaea
    flex-basis 30%
    padding 20px
    margin 1.5%
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center
    &.flex-half
      flex-basis 45%
      > span
        display block
        width 100%
    &.dark
      background-color #333333
      > span
        color white

  tonic-toggle
    display block
    width 100%
