body#test

  &:not(.show-focus)
    [tabindex]:focus, *:focus
      outline none

  main
    left 0
    width 100%

  main > section
    width 1000px
    max-width 100%
    padding-bottom 0
    margin 0 auto
    display flex
    flex-wrap wrap
    justify-content flex-start

  aside.results
    font 14px var(--monospace)
    white-space pre
    flex-basis 100%
    padding 30px 1.5% 0 1.5%

    span
      display block

      &.result.OK
        color green

      &.result:not(.OK)
        color red

  .test-container > span:first-of-type
    font 14px var(--monospace)
    width 100%
    display block
    padding 15px 0

  h2
    flex-basis 100%
    margin 60px 1.5% 30px 1.5%

  .test-container
    border 1px solid #eaeaea
    flex-basis 47%
    padding 20px
    margin 1.5%
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center

    > span
      display block
      width 100%

    &.dark
      background-color #333333
      > span
        color white

  tonic-toggle
    display block
    width 100%
