*
  box-sizing border-box

.wrapper
  display flex
  visibility hidden
  transition visibility 0s ease 0.5s

  &.show
    visibility visible
    transition visibility 0s ease 0s
    .toaster
      opacity 1
      -webkit-transform scale(1)
      -ms-transform scale(1)
      transform scale(1)

.toaster
  width auto
  max-width 600px
  padding-right 50px
  margin 0 auto
  position fixed
  top 20px
  background-color var(--window)
  box-shadow 0px 30px 90px -20px rgba(0,0,0,0.3), 0 0 1px #a2a9b1
  border-radius 4px
  -webkit-transform scale(0.8)
  -ms-transform scale(0.8)
  transform scale(0.8)
  transition all 0.3s ease-in-out
  z-index 1
  opacity 0

  main
    padding 20px

  .close
    width 25px
    height 25px
    position absolute
    right 20px
    top 50%
    -webkit-transform translateY(-50%)
    -ms-transform translateY(-50%)
    transform translateY(-50%)
    cursor pointer
    svg
      width 100%
      height 100%
      use
        fill var(--primary)
        color var(--primary)
