body {
  --body: 'Georgia', serif;
  --header: 'Caudex', serif;
  --subheader: 'Poppins', sans-serif;
  --monospace: 'IBM Plex Mono', monospace;
}
body {
  --window: #fff;
  --primary: #36393d;
  --secondary: #e8e8e4;
  --medium: #999da0;
  --accent: #f06653;
  --border: #e8e8e4;
  --background: #f7f7f5;
  --error: #f06653;
  --notification: #f06653;
  --danger: #f06653;
  --success: #85b274;
  --warning: #f9a967;
  --info: #999da0;
}
body.theme-dark {
  --window: #2d2f31;
  --primary: #fff;
  --secondary: #c3c3c3;
  --medium: #999da0;
  --accent: #f06653;
  --border: #484a4c;
  --background: #3c3c3c;
  --error: #f06653;
  --notification: #f06653;
  --caution: #f06653;
  --success: #85b274;
  --warn: #f9a967;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: var(--medium);
}
:-ms-input-placeholder {
  color: var(--medium);
}
::placeholder {
  color: var(--medium);
}
