// Theme Fonts
body
  --body 'Georgia', serif // Body font
  --header 'Caudex', serif // Header font
  --subheader 'Poppins', sans-serif // Accent font
  --monospace 'Space-Mono', monospace // Monospace font

//
// Default Theme Colors
//
// body
//   --window #fff // Base window color
//   --primary #36393d // Primary font and contrast
//   --secondary #e8e8e4
//   --medium #999da0
//   --accent #f06653 // Accent color
//   --border #e8e8e4 // Border color
//   --background #f7f7f5
//   --notification #f06653 // Notification Badge Color
//   --caution #f06653 // Alert: Caution
//   --success #85b274 // Alert: Success
//   --warn #f9a967 // Alert: Warning

//
// Dark Theme Colors
//
body
  --window #2d2f31 // Base window color
  --primary #fff // Primary font and contrast
  --secondary #c3c3c3
  --medium #999da0
  --accent #f06653 // Accent color
  --border #484a4c // Border color
  --background #3c3c3c
  --notification #f06653 // Notification Badge Color
  --caution #f06653 // Alert: Caution
  --success #85b274 // Alert: Success
  --warn #f9a967 // Alert: Warning
