.hljs
  display block
  overflow-x auto
  padding 0.5em
  background #F0F0F0

.hljs,
.hljs-subst
  color var(--tonic-medium)

.hljs-comment
  color #aaa

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name
  font-weight bold

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion
  color #38B9FF

.hljs-title,
.hljs-section
  color #38B9FF
  font-weight bold

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo
  color #38B9FF

.hljs-literal
  color #38B9FF

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition
  color #38B9FF

.hljs-meta
  color #1f7199

.hljs-meta-string
  color #bc6060

.hljs-emphasis
  font-style italic

.hljs-strong
  font-weight bold
