tonic-router
  margin-top 20px
  padding-top 20px

  &.tonic--show
    display block
    margin 20px 0 6px
    padding-top 20px
    border-top 1px solid var(--tonic-border)

#tonic-router-select
  display inline-block
