body > main div.example .content.windowed-example {
  max-width: initial;
  padding: 0;
  position: relative;
  height: 330px;
}

example-windowed {
  height: 300px;
}

example-windowed .th {
  background: var(--tonic-border);
}

example-windowed .th,
example-windowed .tr {
  height: 30px;
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid var(--tonic-border);
}

example-windowed .tr:hover {
  background: var(--tonic-accent);
  color: white;
  cursor: default;
}

example-windowed .td {
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  font-family: var(--tonic-monospace);
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  flex-basis: 33.3%;
  padding: 0 4px;
}

#click-to-load {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  background: var(--tonic-window);
  z-index: 1;
  top: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 1;
  transition: all 1.5s;
}

#click-to-load span {
  margin: auto;
}

#click-to-load.hidden {
  opacity: 0;
  z-index: -1;
}

