content-folds

  content-fold
    position relative
    display block

    .tonic--fold--content
      display none

    &.tonic--open
      .tonic--fold--content
        display block

    .tonic--fold-header
      color red

    .tonic--fold-arrow
      position absolute
      top 0
      right 0
      width 10px
      height 10px
      background-color blue
