profile-image
  .wrapper
    position relative
    overflow hidden

    .image
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-size cover
      background-position center center
      background-repeat no-repeat

    .overlay
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-color rgba(0,0,0,0.5)
      transition opacity 0.2s ease-in-out
      visibility hidden
      opacity 0
      display flex

      div
        position absolute
        top 0
        bottom 0
        right 0
        left 0
        background-size 40px 40px
        background-repeat no-repeat
        background-position center center

    &.editable:hover
      .overlay
        visibility visible
        opacity 1
        cursor pointer
