.wrapper
  position relative
  &.right
    icon-container
      right 10px
  &.left
    icon-container
      left 10px

icon-container
  position absolute
  bottom 7px

label
  color var(--medium)
  font-weight 500
  font 12px/14px 'Poppins', sans-serif
  text-transform uppercase
  letter-spacing 1px
  padding-bottom 10px
  display block

input
  width 100%
  font 14px 'Space-Mono', monospace
  padding 10px
  border 1px solid var(--border)
  border-radius 3px
  transition border 0.2s ease
  -webkit-appearance none
  -moz-appearance none
  appearance none
  outline none
  &:focus
    border-color var(--primary)
