tonic-tabs
  .tonic--tab
    margin-right 10px
    display inline-block
    &:focus
      border-bottom 2px solid var(--tonic-accent)
      outline none

tonic-tab-panel
  flex-basis 100%
  padding 15px 0
