.tonic--dialog
  display grid
  grid-template-rows 44px 1fr 80px

  > header
    NoSelect()
    line-height 44px
    text-align center
    color var(--tonic-medium)
    display block

  > main
    padding 30px
    position relative
    text-align center

  > footer
    NoSelect()
    text-align center
    background-color var(--tonic-window)
    padding 16px
    text-align center
    width 100%
    display block

  > .tonic--close
    top 10px !important
    right 10px !important
