tonic-tabs
  .tonic--tab
    border-bottom 2px solid transparent
    margin-right 10px
    display inline-block

    &:focus
      border-bottom 2px solid var(--tonic-accent)

    &[aria-selected="true"]
      border-bottom 2px solid var(--tonic-accent)

tonic-tab-panel
  flex-basis 100%
  padding 15px 0
