notification-inline
  *
    box-sizing border-box

  .tonic--wrapper
    user-select none
    display flex
    flex-wrap wrap
    flex-direction column
    transform translateX(-50%)
    visibility hidden
    border 1px solid red
    &.tonic--show
      visibility visible

  .tonic--notification
    margin 10px 0
    position relative
    background-color var(--window)
    border-radius 3px
    -webkit-transform scale(0.95)
    -ms-transform scale(0.95)
    transform scale(0.95)
    transition opacity 0.2s ease-in-out, transform 0.3s ease-in-out
    border 1px solid var(--border)
    z-index 1
    opacity 0
    &.tonic--warning
      border-color var(--warning)
    &.tonic--danger
      border-color var(--danger)
    &.tonic--success
      border-color var(--success)
    &.tonic--info
      border-color var(--secondary)

    &.tonic--show
      opacity 1
      -webkit-transform scale(1)
      -ms-transform scale(1)
      transform scale(1)
      transition transform 0.3s ease-in-out
    &.tonic--close
      padding-right 50px
    &.tonic--alert
      padding-left 35px

    main
      padding 17px 15px 15px 15px
      .tonic--title
        font 14px/18px var(--subheader)
      .tonic--message
        font 14px/18px var(--subheader)
        color var(--medium)

    .tonic--icon
      width 16px
      height 16px
      position absolute
      left 20px
      top 50%
      background-size cover
      -webkit-transform translateY(-50%)
      -ms-transform translateY(-50%)
      transform translateY(-50%)

    .tonic--close
      width 20px
      height 20px
      position absolute
      right 20px
      top 50%
      -webkit-transform translateY(-50%)
      -ms-transform translateY(-50%)
      transform translateY(-50%)
      cursor pointer
      background-size cover
      svg
        path
          fill var(--primary)
          color var(--primary)
