.wrapper
  height 30px
  width 47px
  position relative

.switch
  display inline-table
  position absolute
  left 0
  top 0

  label
    &:before
      font bold 12px 'Poppins', sans-serif
      text-transform uppercase

  input.toggle
    position absolute
    outline none
    user-select none
    z-index 1
    display none

    & + label
      width 42px
      height 24px
      padding 2px
      display block
      position relative
      background-color var(--border)
      border-radius 60px
      transition background 0.4s
      cursor default

      &:before
        content ''
        line-height 29px
        text-indent 29px
        position absolute
        top 1px
        left 1px
        bottom 1px
        right 1px
        display block
        border-radius 60px
        transition background 0.4s
        padding-top 1px
        font-size 0.65em
        letter-spacing 0.05em
        background-color var(--border)

      &:after
        content ' '
        width 20px
        position absolute
        top 4px
        left 4px
        bottom 4px
        background-color var(--background)
        border-radius 52px
        transition margin 0.4s, background 0.4s
        display block
        z-index 2

    &:disabled
      cursor default
      & + label
        color var(--disabled)
        cursor default
        background-color var(--disabled)
        &:before,
        &:after
          color var(--disabled)
        &:after
          background-color var(--disabled)

    &:checked + label
      background-color var(--accent)
      &:before
        content ' '
        background-color var(--accent)
        color var(--background)
      &:after
        margin-left 18px
        background-color var(--background)
