content-tabs
  display block

[data-tab-name]:not([data-tab-group])
  user-select none
  font-family var(--subheader)
  font-size 14px
  border-bottom 1px solid transparent
  margin-right 8px

  &.selected
    color var(--accent)
    border-bottom 1px solid var(--accent)

[data-tab-group]
  margin-top 15px
  display none
  border-top 1px solid var(--border)
  padding-top 15px
  height 40px

  &.show
    display block
