content-dialog
  *
    box-sizing border-box

  > .wrapper
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    display flex
    z-index 100
    visibility hidden
    transition visibility 0s ease 0.5s
    &.show
      visibility visible
      transition visibility 0s ease 0s
      .overlay
        opacity 1
      .dialog
        opacity 1
        -webkit-transform scale(1)
        -ms-transform scale(1)
        transform scale(1)

  .overlay
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    opacity 0
    transition opacity 0.3s ease-in-out

  .dialog
    min-width 350px
    min-height 250px
    height auto
    width auto
    padding-top 70px
    padding-bottom 75px
    margin auto
    position relative
    background-color var(--window)
    box-shadow 0px 30px 90px -20px rgba(0,0,0,0.3), 0 0 1px #a2a9b1
    border-radius 4px
    -webkit-transform scale(0.8)
    -ms-transform scale(0.8)
    transform scale(0.8)
    transition all 0.3s ease-in-out
    z-index 1
    opacity 0

    header
      height 70px
      font 14px var(--subheader)
      text-transform uppercase
      letter-spacing 1.5px
      position absolute
      top 0
      left 0
      right 0
      padding 26px 65px 25px 65px

    main
      width auto
      padding 20px
      margin 0 auto

    .close
      width 25px
      height 25px
      position absolute
      top 25px
      right 25px
      cursor pointer

    footer
      position absolute
      bottom 0
      left 0
      right 0
      height 75px
      padding 12px
      display flex
      justify-content center
