tonic-panel
  h3
    margin 0

  .tonic--header
    padding 20px
    position absolute
    top 0
    left 0
    right 0
    height 90px

  .tonic--main
    padding 20px
    position absolute
    top 90px
    left 0
    right 0
    bottom 70px
    overflow scroll

  .tonic--footer
    position absolute
    left 0
    right 0
    bottom 0
    height 70px
    padding 10px
    text-align center
    border-top 1px solid var(--tonic-border)
