read-wikipedia
  h3
    margin 0

  header
    padding 20px
    position absolute
    top 0
    left 0
    right 0
    height 90px

  main
    padding 40px 20px
    position absolute
    text-align left
    top 90px
    left 0
    right 0
    bottom 70px
    overflow scroll

  footer
    position absolute
    left 0
    right 0
    bottom 0
    height 70px
    padding 10px
    text-align center
    border-top 1px solid var(--tonic-border)
