input-button
  display inline-block

  &[width="100%"]
    display block

  .wrapper
    margin 5px

  button
    color var(--primary)
    width auto
    min-height 40px
    font 12px var(--subheader)
    font-weight 400
    text-transform uppercase
    letter-spacing 1px
    padding 8px 8px 5px 8px
    position relative
    background-color transparent
    border 1px solid var(--primary)
    outline none
    transition all 0.3s ease
    appearance none

    &[disabled],
    &.active
      color var(--medium)
      background-color var(--background)
      border-color var(--background)

    &:not([disabled]):hover
      color var(--window)
      background-color var(--primary) !important
      border-color var(--primary) !important
      cursor pointer

    &.loading
      color transparent
      background var(--medium)
      border-color var(--medium)
      pointer-events none
      transition background 0.3s ease
      &:hover
        background var(--medium)
        border-color var(--medium)

      &:before
        margin-top -8px
        margin-left -8px
        display inline-block
        position absolute
        top 50%
        left 50%
        opacity 1
        transform translateX(-50%) translateY(-50%)
        border 2px solid white
        border-radius 50%
        border-top-color transparent
        animation spin 1s linear 0s infinite
        transition opacity 0.3s ease

    &:before
      content ''
      width 14px
      height 14px
      opacity 0

  @keyframes spin
    from
      transform rotate(0deg)
    to
      transform rotate(360deg)
