* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: var(--medium);
}
:-ms-input-placeholder {
  color: var(--medium);
}
::placeholder {
  color: var(--medium);
}
@font-face {
  font-family: Avenir-Light;
  src: url("/fonts/Avenir-Light.ttf");
}
@font-face {
  font-family: Avenir-Book;
  src: url("/fonts/Avenir-Book.ttf");
}
@font-face {
  font-family: Avenir-Medium;
  src: url("/fonts/Avenir-Medium.ttf");
}
@font-face {
  font-family: Avenir-Heavy;
  src: url("/fonts/Avenir-Heavy.ttf");
}
@font-face {
  font-family: 'Source Code Pro';
  src: url("/fonts/SourceCodePro-Regular.ttf");
}
tonic-badge {
  display: inline-block;
}
.tonic--dialog .tonic--dialog--content {
  padding-top: 70px;
  padding-bottom: 75px;
  -webkit-box-shadow: 0px 30px 90px -20px rgba(0,0,0,0.3), 0 0 1px #a2a9b1;
          box-shadow: 0px 30px 90px -20px rgba(0,0,0,0.3), 0 0 1px #a2a9b1;
  border-radius: 4px;
}
.tonic--dialog header {
  text-align: center;
  height: 70px;
  font: 14px var(--subheader);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 26px 65px 25px 65px;
}
.tonic--dialog main {
  text-align: center;
  width: auto;
  padding: 20px;
  margin: 0 auto;
}
.tonic--dialog footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#tonic-input-state {
  display: inline-block;
  padding-top: 15px;
}
tonic-panel h3 {
  margin: 0;
}
tonic-panel header {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
}
tonic-panel main {
  padding: 20px;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 70px;
  overflow: scroll;
}
tonic-panel footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  padding: 10px;
  text-align: center;
  border-top: 1px solid var(--border);
}
tonic-router {
  margin-top: 20px;
  padding-top: 20px;
}
tonic-router.tonic--show {
  display: block;
  margin: 20px 0 6px;
  padding-top: 20px;
  border-top: 1px solid var(--border);
}
#tonic-router-select {
  display: inline-block;
}
tonic-tabs {
  display: block;
}
[data-tab-name]:not([data-tab-group]) {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: var(--subheader);
  font-size: 14px;
  border-bottom: 1px solid transparent;
  margin-right: 8px;
}
[data-tab-name]:not([data-tab-group]).tonic--selected {
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
}
[data-tab-group] {
  margin-top: 15px;
  border-top: 1px solid var(--border);
  padding-top: 15px;
}
[data-tab-group].tonic--show {
  display: block;
}
tonic-tooltip .tonic--tooltip {
  padding: 10px;
}
body > main div.example .content.windowed-example {
  max-width: initial;
  padding: 0;
  position: relative;
  height: 330px;
}
tonic-windowed {
  height: 300px;
}
tonic-windowed .th {
  background: var(--border);
}
tonic-windowed .th,
tonic-windowed .tr {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid var(--border);
}
tonic-windowed .tr:hover {
  background: var(--accent);
  color: #fff;
  cursor: default;
}
tonic-windowed .td {
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  font-family: var(--monospace);
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  padding: 0 4px;
}
#click-to-load {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  right: 0;
  background: var(--window);
  z-index: 1;
  top: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
#click-to-load span {
  margin: auto;
}
#click-to-load.hidden {
  opacity: 0;
  z-index: -1;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f0f0f0;
}
.hljs,
.hljs-subst {
  color: var(--medium);
}
.hljs-comment {
  color: #aaa;
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #f06653;
}
.hljs-title,
.hljs-section {
  color: #f06653;
  font-weight: bold;
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #f06653;
}
.hljs-literal {
  color: #f06653;
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #f06653;
}
.hljs-meta {
  color: #1f7199;
}
.hljs-meta-string {
  color: #bc6060;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
body {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern";
          font-feature-settings: "kern";
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  font-weight: normal;
  color: var(--primary);
  font-family: var(--body);
  margin: 0;
  background-color: var(--window);
}
body[data-group="custom"] [data-group="component"] {
  display: none;
}
body[data-group="custom"] [data-group="custom"] {
  display: block;
}
body [data-group="custom"] {
  display: none;
}
body [data-group="component"] {
  display: block;
}
body[data-page="docs"] #intro {
  padding-top: 100px;
}
body[data-page="docs"] #intro h1 {
  display: none;
}
blockquote {
  border-left: 4px solid var(--info);
  padding-left: 14px;
  font-style: italic;
  line-height: 20px;
  font-size: 14px;
  margin: 10px;
  color: var(--info);
  display: inline-block;
}
p {
  font: 18px/32px var(--body);
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 20px 0;
}
h1 {
  font: 48px/56px var(--header);
  padding: 60px 0 20px 0;
}
@media (max-width: 850px) {
  h1 {
    font: 36px/45px var(--header);
    padding: 20px 0 20px 0;
  }
}
h2 {
  font: 14px/16px var(--subheader);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-top: 2px solid var(--primary);
  padding-top: 20px;
  margin: 50px 0;
}
h3 {
  font: 26px/30px var(--header);
  margin-top: 60px;
  margin-bottom: 30px;
}
h4 {
  font: 14px/16px var(--subheader);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 40px;
}
hr {
  height: 2px;
  margin: 20px 0px;
  background-color: transparent;
  border: 0;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}
a:visited {
  color: inherit;
}
body .theme-picker {
  width: 80px;
  text-align: right;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 99;
}
body .theme-picker svg {
  width: 18px;
  height: 18px;
  margin: auto;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 0.5;
  cursor: pointer;
}
body .theme-picker svg use {
  fill: var(--primary);
  color: var(--primary);
}
body .theme-picker svg:hover {
  opacity: 1;
}
body > main ul {
  font: 15px/30px var(--body);
  list-style: disc;
  padding: 0;
  padding-left: 40px;
  margin: 30px 0;
}
@media (max-width: 850px) {
  body > main ul {
    padding-left: 20px;
    margin: 10px 0;
  }
}
body > main ul li {
  margin: 10px 0;
}
body > nav {
  width: 300px;
  padding: 50px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: scroll;
  overflow-x: hidden;
  border-right: 1px solid var(--border);
}
@media (max-width: 850px) {
  body > nav {
    display: none;
  }
}
body > nav .page-selection {
  font: 13px var(--subheader);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px 0 0 0;
  margin-bottom: 50px;
}
body > nav .page-selection a {
  display: inline-block;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid transparent;
}
body > nav .page-selection a:first-of-type {
  margin-right: 15px;
}
body > nav .page-selection a.active,
body > nav .page-selection a:hover {
  border-bottom: 1px solid var(--primary);
}
body > nav ul {
  list-style: none;
  padding: 0;
  margin-left: -10px;
}
body > nav li {
  margin: 20px 0;
}
body > nav li a {
  font: 17px var(--header);
  font-weight: 400;
  padding: 5px 8px;
  background-color: transparent;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
body > nav li a:hover {
  color: var(--accent);
}
body > nav li a.selected {
  color: var(--accent);
}
body > nav a.logo {
  display: inline-block;
  margin-bottom: 10px;
}
body > nav a.logo svg {
  width: 150px;
}
body > nav a.logo svg use {
  fill: var(--primary);
  color: var(--primary);
}
body > main {
  padding: 0 60px 60px 60px;
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
  overflow: scroll;
}
@media (max-width: 850px) {
  body > main {
    position: relative;
    left: 0;
    padding: 30px;
  }
}
body > main .logo {
  margin-bottom: 50px;
  display: none;
}
@media (max-width: 850px) {
  body > main .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
body > main a {
  border-bottom: 1px solid var(--border);
}
body > main a:hover {
  color: var(--accent);
  border-bottom-color: var(--accent);
}
body > main .hero {
  margin-top: 0;
}
@media (max-width: 850px) {
  body > main .hero {
    margin-bottom: 100px;
  }
}
body > main .hero .label {
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  font-style: italic;
}
body > main .tooltip {
  padding: 10px;
}
body > main .tooltip h3 {
  margin: 0;
}
body > main .tooltip p {
  margin: 4px 0;
  font-size: 12px;
  line-height: 18px;
}
body > main span.req {
  color: var(--danger);
  font-style: italic;
  display: block;
  float: right;
}
body > main div.example {
  width: 100%;
  border: 1px solid var(--border);
}
body > main div.example .header {
  font: 13px/16px var(--subheader);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 10px 9px 10px;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
}
body > main div.example .content {
  max-width: 450px;
  padding: 15px;
}
@media (max-width: 850px) {
  body > main div.example ~ h2,
  body > main div.example ~ h3,
  body > main div.example ~ h4,
  body > main div.example ~ p,
  body > main div.example ~ code,
  body > main div.example ~ pre,
  body > main div.example ~ table {
    display: none;
  }
}
body > main table {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
  border-collapse: collapse;
  border: 1px solid var(--border);
}
body > main th {
  font: 13px/16px var(--subheader);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 10px 9px 10px;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
}
body > main td {
  line-height: 22px;
  padding: 15px;
  border-bottom: 1px solid var(--border);
}
body > main td:not(:first-of-type) {
  border-left: 1px solid var(--border);
}
body > main tr:last-of-type td {
  border-bottom: 0;
}
body > main td:last-of-type {
  border-right: 0;
}
body > main pre {
  font-family: 'Source Code Pro';
  padding: 15px;
  overflow: scroll;
  white-space: pre-line;
  border-radius: 3px;
  border: 1px solid var(--border);
  background-color: var(--background);
}
body > main pre code {
  border: 0;
  padding: 0;
  white-space: pre;
  overflow: scroll;
}
body > main pre code i {
  color: #999;
}
body > main code {
  font: 16px/22px 'Source Code Pro';
  padding: 2px 6px 3px 6px;
  margin: 0 2px;
  white-space: nowrap;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 3px;
}
body > main > section {
  max-width: 800px;
  padding-bottom: 60px;
}
body > main > footer {
  max-width: 800px;
  text-align: center;
  padding: 20px 50px 50px 50px;
}
body > main > footer > div {
  border-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}
body > main > footer > div:first-of-type {
  border-right: 1px solid var(--border);
  padding-right: 40px;
  margin-right: 40px;
}
@media (max-width: 850px) {
  body > main > footer > div:first-of-type {
    border: 0;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }
}
body > main > footer > div:not(:first-of-type) span,
body > main > footer > div:not(:first-of-type) svg {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
body > main > footer > div:not(:first-of-type) svg {
  width: 130px;
  height: 50px;
}
body > main > footer > div:hover span {
  color: var(--primary);
}
body > main > footer > div:hover svg use {
  fill: var(--primary);
  color: var(--primary);
}
body > main > footer span {
  color: var(--medium);
  font: 13px var(--subheader);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body > main > footer svg {
  height: 30px;
  width: 175px;
  margin: 0 auto;
  display: block;
}
body > main > footer svg use {
  fill: var(--medium);
  color: var(--medium);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .invalidate-buttons {
  text-align: center;
  margin-top: 10px;
}
body .mobile-nav {
  display: none;
  position: absolute;
  top: 30px;
  left: 30px;
}
@media (max-width: 850px) {
  body .mobile-nav {
    display: block;
  }
}
body .mobile-nav,
body .github {
  font: 13px var(--subheader);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 50px;
  padding: 0;
}
body .mobile-nav a,
body .github a {
  display: inline-block;
  margin-right: 17px;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid var(--border);
}
body .mobile-nav a:first-of-type,
body .github a:first-of-type {
  margin-right: 15px;
}
body .mobile-nav a.active,
body .github a.active,
body .mobile-nav a:hover,
body .github a:hover {
  border-bottom-color: var(--primary);
}
body .component-github-link {
  position: absolute;
  margin-top: 30px;
  margin-left: 4px;
}
@media (max-width: 850px) {
  body .component-github-link {
    margin-top: -10px;
    margin-left: 2px;
  }
}
body .component-github-link a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid;
  padding: 2px 4px;
  display: inline-block;
}
body section#intro {
  padding-top: 30px;
}
body section#intro .tonic-icon svg {
  width: 115px;
  margin: 0 auto;
  display: block;
}
body section#intro .tonic-icon svg use {
  fill: var(--primary);
  color: var(--primary);
}
body section#intro .github {
  position: absolute;
  top: -12px;
  right: 35px;
  color: var(--info);
  margin-top: 40px;
}
body section#intro .github img {
  vertical-align: middle;
}
body section#intro .status {
  width: 195px;
  font: 12px var(--subheader);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px auto;
}
body section#intro .status:before {
  content: 'Project Status';
  color: var(--medium);
  text-align: center;
  letter-spacing: 1px;
  padding: 4px 8px;
  display: inline-block;
}
body section#intro .status:after {
  content: 'Stable';
  color: #fff;
  letter-spacing: 1px;
  padding: 4px 8px;
  display: inline-block;
  background-color: var(--success);
}
body section#intro .logo svg {
  width: 200px;
}
body section#intro .logo svg use {
  fill: var(--primary);
  color: var(--primary);
}
body section#intro p:not(.intro-copy) {
  font-size: 17px;
  line-height: 28px;
}
body section#intro .col {
  width: 50%;
  padding: 10px 0;
  padding-right: 30px;
  display: table-cell;
}
@media (max-width: 850px) {
  body section#intro .col {
    width: 100%;
    padding: 0;
    display: block;
  }
}
body section#intro .col li {
  font-size: 18px;
}
body section#intro tonic-button {
  text-align: center;
  margin: 50px 0;
  display: block;
}
body section#intro span.first-word {
  color: var(--primary);
}
body section#intro p.intro-copy {
  color: var(--medium);
  max-width: 670px;
  font: 30px var(--header);
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 850px) {
  body section#intro p.intro-copy {
    font: 26px var(--header);
  }
}
body content-tooltip pre {
  margin: 0;
}
body content-tooltip span.code-type {
  font: 12px var(--subheader);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  display: block;
  padding: 5px;
}
body content-dialog header {
  text-align: center;
  height: 70px;
  font: 14px var(--subheader);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 26px 65px 25px 65px;
}
body content-dialog main {
  width: auto;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  height: 100px;
}
body content-dialog footer {
  height: 75px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body content-tags [data-tab-group] {
  height: 40px;
}
body notification-badge {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body .button-group {
  display: inline-block;
  margin-left: 15px;
}
body .button-group span {
  display: inline-block;
  margin-left: 15px;
  border-bottom: 1px solid var(--border);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
body .button-group span:hover {
  border-bottom-color: var(--accent);
}
@media (max-width: 850px) {
  body #progressbar .button-group {
    margin-left: -15px;
    margin-top: 20px;
    text-align: center;
    display: block;
  }
}
