body {
  --body: 'Georgia', serif;
  --header: 'Caudex', serif;
  --subheader: 'Poppins', sans-serif;
  --monospace: 'Space-Mono', monospace;
}
body {
  --window: #fff;
  --primary: #36393d;
  --secondary: #e8e8e4;
  --medium: #999da0;
  --accent: #f06653;
  --border: #e8e8e4;
  --background: #f7f7f5;
  --error: #f06653;
  --notification: #f06653;
  --danger: #f06653;
  --success: #85b274;
  --warning: #f9a967;
  --info: #999da0;
}
body.theme-dark {
  --window: #2d2f31;
  --primary: #fff;
  --secondary: #c3c3c3;
  --medium: #999da0;
  --accent: #f06653;
  --border: #484a4c;
  --background: #3c3c3c;
  --error: #f06653;
  --notification: #f06653;
  --caution: #f06653;
  --success: #85b274;
  --warn: #f9a967;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: var(--medium);
}
:-ms-input-placeholder {
  color: var(--medium);
}
::placeholder {
  color: var(--medium);
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f0f0f0;
}
.hljs,
.hljs-subst {
  color: var(--medium);
}
.hljs-comment {
  color: #aaa;
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #f06653;
}
.hljs-title,
.hljs-section {
  color: #f06653;
  font-weight: bold;
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #f06653;
}
.hljs-literal {
  color: #f06653;
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #f06653;
}
.hljs-meta {
  color: #1f7199;
}
.hljs-meta-string {
  color: #bc6060;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
body {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern";
          font-feature-settings: "kern";
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  font-weight: normal;
  color: var(--primary);
  font-family: var(--body);
  margin: 0;
  background-color: var(--window);
}
body[data-group="custom"] [data-group="component"] {
  display: none;
}
body[data-group="custom"] [data-group="custom"] {
  display: block;
}
body [data-group="custom"] {
  display: none;
}
body [data-group="component"] {
  display: block;
}
p {
  font: 16px/26px var(--body);
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 20px 0;
}
h1 {
  font: 48px/56px var(--header);
  padding: 60px 0 20px 0;
}
@media (max-width: 850px) {
  h1 {
    font: 36px/45px var(--header);
    padding: 20px 0 20px 0;
  }
}
h2 {
  font: 14px/16px var(--subheader);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-top: 2px solid var(--primary);
  padding-top: 20px;
  margin: 50px 0;
}
h3 {
  font: 26px/30px var(--header);
  margin-top: 60px;
  margin-bottom: 30px;
}
h4 {
  font: 14px/16px var(--subheader);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 40px;
}
hr {
  height: 2px;
  margin: 20px 0px;
  background-color: transparent;
  border: 0;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}
a:visited {
  color: inherit;
}
body .theme-picker {
  width: 80px;
  text-align: right;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 99;
}
body .theme-picker svg {
  width: 18px;
  height: 18px;
  margin: auto;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 0.5;
  cursor: pointer;
}
body .theme-picker svg use {
  fill: var(--primary);
  color: var(--primary);
}
body .theme-picker svg:hover {
  opacity: 1;
}
body > main ul {
  font: 15px/30px var(--body);
  list-style: disc;
  padding: 0;
  padding-left: 40px;
  margin: 30px 0;
}
@media (max-width: 850px) {
  body > main ul {
    padding-left: 20px;
    margin: 10px 0;
  }
}
body > main ul li {
  margin: 10px 0;
}
body > nav {
  width: 300px;
  padding: 50px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: scroll;
  border-right: 1px solid var(--border);
  -webkit-box-shadow: 0 0 30px 0px rgba(0,0,0,0.04);
          box-shadow: 0 0 30px 0px rgba(0,0,0,0.04);
}
@media (max-width: 850px) {
  body > nav {
    display: none;
  }
}
body > nav .page-selection {
  font: 13px var(--subheader);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px 0 0 0;
  margin-bottom: 50px;
}
body > nav .page-selection a {
  display: inline-block;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid transparent;
}
body > nav .page-selection a:first-of-type {
  margin-right: 15px;
}
body > nav .page-selection a.active,
body > nav .page-selection a:hover {
  border-bottom: 1px solid var(--primary);
}
body > nav ul {
  list-style: none;
  padding: 0;
  margin-left: -10px;
}
body > nav li {
  margin: 20px 0;
}
body > nav li a {
  font: 17px var(--header);
  font-weight: 400;
  padding: 5px 8px;
  background-color: transparent;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
body > nav li a:hover {
  color: var(--accent);
}
body > nav li a.selected {
  color: #fff;
  background-color: var(--accent);
}
body > nav a.logo {
  display: inline-block;
  margin-bottom: 10px;
}
body > nav a.logo svg {
  width: 150px;
}
body > nav a.logo svg use {
  fill: var(--primary);
  color: var(--primary);
}
body > main {
  padding: 0 60px 60px 60px;
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
  overflow: scroll;
}
@media (max-width: 850px) {
  body > main {
    position: relative;
    left: 0;
    padding: 30px;
  }
}
body > main .logo {
  margin-bottom: 50px;
  display: none;
}
@media (max-width: 850px) {
  body > main .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
body > main a {
  border-bottom: 1px solid var(--border);
}
body > main a:hover {
  color: var(--accent);
  border-bottom-color: var(--accent);
}
body > main .hero {
  margin-top: 125px;
  margin-bottom: 150px;
}
@media (max-width: 850px) {
  body > main .hero {
    margin-top: 0;
    margin-bottom: 100px;
  }
}
body > main .tooltip {
  padding: 10px;
}
body > main .tooltip h3 {
  margin: 0;
}
body > main .tooltip p {
  margin: 4px 0;
  font-size: 12px;
  line-height: 18px;
}
body > main span.req {
  color: var(--danger);
  font-style: italic;
  display: block;
  float: right;
}
body > main div.example {
  width: 100%;
  border: 1px solid var(--border);
}
body > main div.example .header {
  font: 13px/16px var(--subheader);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 10px 9px 10px;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
}
body > main div.example .content {
  max-width: 450px;
  padding: 15px;
}
@media (max-width: 850px) {
  body > main div.example ~ h2,
  body > main div.example ~ h3,
  body > main div.example ~ h4,
  body > main div.example ~ p,
  body > main div.example ~ code,
  body > main div.example ~ pre,
  body > main div.example ~ table {
    display: none;
  }
}
body > main table {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
  border-collapse: collapse;
  border: 1px solid var(--border);
}
body > main th {
  font: 13px/16px var(--subheader);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 10px 9px 10px;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
}
body > main td {
  line-height: 22px;
  padding: 15px;
  border-bottom: 1px solid var(--border);
}
body > main td:not(:first-of-type) {
  border-left: 1px solid var(--border);
}
body > main tr:last-of-type td {
  border-bottom: 0;
}
body > main td:last-of-type {
  border-right: 0;
}
body > main pre {
  padding: 15px;
  overflow: scroll;
  white-space: pre-line;
  border-radius: 3px;
  border: 1px solid var(--border);
  background-color: var(--background);
}
body > main pre code {
  border: 0;
  padding: 0;
  line-height: 18px;
  white-space: pre;
  overflow: scroll;
}
body > main pre code i {
  color: #999;
}
body > main code {
  font-size: 14px;
  padding: 2px 6px 3px 6px;
  margin: 0 2px;
  white-space: nowrap;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 3px;
}
body > main > section {
  max-width: 800px;
  padding-bottom: 60px;
}
body > main > section:not(:first-of-type) {
  border-top: 2px solid var(--border);
}
body > main footer {
  max-width: 800px;
  text-align: center;
  padding: 20px 50px 50px 50px;
}
body > main footer > div {
  border-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}
body > main footer > div:first-of-type {
  border-right: 1px solid var(--border);
  padding-right: 40px;
  margin-right: 40px;
}
@media (max-width: 850px) {
  body > main footer > div:first-of-type {
    border: 0;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }
}
body > main footer > div:not(:first-of-type) span,
body > main footer > div:not(:first-of-type) svg {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
body > main footer > div:not(:first-of-type) svg {
  width: 130px;
  height: 50px;
}
body > main footer > div:hover span {
  color: var(--primary);
}
body > main footer > div:hover svg use {
  fill: var(--primary);
  color: var(--primary);
}
body > main footer span {
  color: var(--medium);
  font: 13px var(--subheader);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body > main footer svg {
  height: 30px;
  width: 175px;
  margin: 0 auto;
  display: block;
}
body > main footer svg use {
  fill: var(--medium);
  color: var(--medium);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .invalidate-buttons {
  text-align: center;
  margin-top: 10px;
}
body .mobile-nav {
  font: 13px var(--subheader);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 50px;
  padding: 20px 0 0 0;
  display: none;
  position: absolute;
  top: 30px;
  left: 30px;
}
@media (max-width: 850px) {
  body .mobile-nav {
    display: block;
  }
}
body .mobile-nav a {
  display: inline-block;
  margin-right: 17px;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid var(--border);
}
body .mobile-nav a:first-of-type {
  margin-right: 15px;
}
body .mobile-nav a.active,
body .mobile-nav a:hover {
  border-bottom-color: var(--primary);
}
body section#intro {
  padding-top: 100px;
}
body section#intro center {
  color: var(--info);
  margin-top: 40px;
}
body section#intro center img {
  vertical-align: middle;
}
body section#intro center a {
  color: var(--info);
  font: 13px var(--subheader);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px;
}
body section#intro .status {
  width: 250px;
  font: 12px var(--subheader);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px auto 0 auto;
}
body section#intro .status:before {
  content: 'Project Status';
  color: var(--medium);
  text-align: center;
  letter-spacing: 1px;
  padding: 4px 8px;
  display: inline-block;
}
body section#intro .status:after {
  content: 'Experimental';
  color: #fff;
  letter-spacing: 1px;
  padding: 4px 8px;
  display: inline-block;
  background-color: var(--danger);
}
body section#intro svg {
  width: 200px;
}
body section#intro svg use {
  fill: var(--primary);
  color: var(--primary);
}
body section#intro p:not(.intro-copy) {
  font-size: 17px;
  line-height: 28px;
}
body section#intro .col {
  width: 50%;
  padding: 10px 0;
  padding-right: 30px;
  display: table-cell;
}
@media (max-width: 850px) {
  body section#intro .col {
    width: 100%;
    padding: 0;
    display: block;
  }
}
body section#intro .col li {
  font-size: 18px;
}
body section#intro input-button {
  text-align: center;
  margin: 50px 0;
  display: block;
}
body section#intro span.first-word {
  color: var(--primary);
}
body section#intro p.intro-copy {
  color: var(--medium);
  max-width: 670px;
  font: 30px var(--header);
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 850px) {
  body section#intro p.intro-copy {
    font: 26px var(--header);
  }
}
body content-tooltip pre {
  margin: 0;
}
body content-tooltip span.code-type {
  font: 12px var(--subheader);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  display: block;
  padding: 5px;
}
body content-dialog header,
body content-dialog main,
body content-dialog footer {
  text-align: center;
}
body content-dialog main {
  height: 100px;
}
body content-tags [data-tab-group] {
  height: 40px;
}
body notification-badge,
body progress-bar {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body .button-group {
  display: inline-block;
  margin-left: 15px;
}
body .button-group span {
  display: inline-block;
  margin-left: 15px;
  border-bottom: 1px solid var(--border);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
body .button-group span:hover {
  border-bottom-color: var(--accent);
}
@media (max-width: 850px) {
  body #progressbar .button-group {
    margin-left: -15px;
    margin-top: 20px;
    text-align: center;
    display: block;
  }
}
