* {
  box-sizing: border-box;
}
body {
  --primary: #36393d;
  --secondary: #e8e8e4;
  --accent: #f06653;
  --medium: #999da0;
  --border: #e8e8e4;
  --background: #f7f7f5;
  --red: #f06653;
  --green: #85b274;
  --orange: #f9a967;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-variant-ligatures: common-ligatures;
  font-kerning: normal;
  font-weight: normal;
  color: var(--primary);
  margin: 0;
  font-family: 'Georgia', serif;
}
p {
  font: 16px/26px 'Georgia', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 20px 0;
}
h1 {
  font: 48px/56px 'Caudex', serif;
  padding: 60px 0 20px 0;
}
h2 {
  font: 14px/16px 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-top: 2px solid var(--primary);
  padding-top: 20px;
  margin: 50px 0;
}
h3 {
  font: 26px/30px 'Caudex', serif;
  margin-top: 60px;
}
h4 {
  font: 14px/16px 'Poppins', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease;
}
ul {
  font: 15px/30px 'Georgia', serif;
  list-style: none;
  padding: 0;
}
ul li {
  margin: 10px 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--border);
}
th {
  font: 13px/16px 'Poppins', monospace;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 10px 9px 10px;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
}
td {
  line-height: 22px;
  padding: 15px;
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}
td:not(:first-of-type) {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
tr:last-of-type td {
  border-bottom: 0;
}
td:last-of-type {
  border-right: 0;
}
pre {
  padding: 15px;
  white-space: pre-line;
  border-radius: 3px;
  border: 1px solid var(--border);
  background-color: var(--background);
}
pre code {
  border: 0;
}
code {
  font-size: 14px;
  padding: 3px 6px;
  margin: 0 2px;
  white-space: nowrap;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 3px;
}
nav {
  padding: 60px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  overflow: scroll;
}
nav a.selected {
  color: #00f;
}
nav img {
  width: 150px;
  margin-bottom: 30px;
}
main {
  padding: 0 60px 60px 60px;
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
  overflow: scroll;
}
section {
  max-width: 800px;
  padding-bottom: 60px;
  border-bottom: 2px solid var(--border);
}
::placeholder {
  color: #00f;
  font-size: 1.5em;
}
