* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body#test:not(.show-focus) [tabindex]:focus,
body#test:not(.show-focus) *:focus {
  outline: none;
}
body#test main > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
body#test .test-container > span:first-of-type {
  font: 14px var(--monospace);
  width: 100%;
  display: block;
  padding: 15px 0;
}
body#test h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
body#test .fail {
  color: #f00;
}
body#test .test-container {
  border: 1px solid #eaeaea;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 20px;
  margin: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body#test .test-container.flex-half {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
body#test .test-container.flex-half > span {
  display: block;
  width: 100%;
}
body#test .test-container.dark {
  background-color: #333;
}
body#test .test-container.dark > span {
  color: #fff;
}
body#test tonic-toggle {
  display: block;
  width: 100%;
}
