body#test aside {
  width: 600px;
  font: 14px var(--tonic-monospace);
  white-space: pre-wrap;
  padding: 20px 60px 60px 60px;
  overflow: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f8f8f8;
}
body#test aside span {
  display: block;
}
body#test aside span.title {
  margin-top: 30px;
}
body#test aside span.result.OK {
  color: #008000;
}
body#test aside span.result:not(.OK) {
  color: #f00;
}
body#test .test-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body#test #passing,
body#test #total,
body#test #status {
  margin: 0 10px;
  margin-right: 80px;
}
body#test #passing h1,
body#test #total h1,
body#test #status h1 {
  font-weight: 700;
  display: block;
  margin: 8px 4px;
  padding: 0;
}
body#test #passing label,
body#test #total label,
body#test #status label {
  margin: 0 4px;
  text-transform: uppercase;
  display: block;
}
body#test #status:not(.fail) {
  color: #008000;
}
body#test #status.fail {
  color: #f00;
}
body#test main {
  left: 0;
  right: 600px;
}
body#test main > section {
  padding-bottom: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
body#test h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 60px 1.5% 30px 1.5%;
}
body#test .test-container {
  border: 1px solid #eaeaea;
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  padding: 20px;
  margin: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body#test .test-container > span {
  display: block;
  width: 100%;
}
body#test .test-container > span:first-of-type {
  font: 14px var(--tonic-monospace);
  width: 100%;
  display: block;
  padding: 15px 0;
}
body#test .test-container.dark {
  background-color: #333;
}
body#test .test-container.dark > span {
  color: #fff;
}
body#test tonic-toggle {
  display: block;
  width: 100%;
}
