body#test:not(.show-focus) [tabindex]:focus,
body#test:not(.show-focus) *:focus {
  outline: none;
}
body#test main {
  left: 0;
  width: 100%;
}
body#test main > section {
  width: 1000px;
  max-width: 100%;
  padding-bottom: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
body#test aside.results {
  font: 14px var(--monospace);
  white-space: pre;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 30px 1.5% 0 1.5%;
}
body#test aside.results span {
  display: block;
}
body#test aside.results span.result.OK {
  color: #008000;
}
body#test aside.results span.result:not(.OK) {
  color: #f00;
}
body#test .test-container > span:first-of-type {
  font: 14px var(--monospace);
  width: 100%;
  display: block;
  padding: 15px 0;
}
body#test h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 60px 1.5% 30px 1.5%;
}
body#test .test-container {
  border: 1px solid #eaeaea;
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  padding: 20px;
  margin: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body#test .test-container > span {
  display: block;
  width: 100%;
}
body#test .test-container.dark {
  background-color: #333;
}
body#test .test-container.dark > span {
  color: #fff;
}
body#test tonic-toggle {
  display: block;
  width: 100%;
}
