input-select
  select
    font 14px var(--monospace)
    padding 10px 20px 10px 10px
    background-color var(--window)
    background-repeat no-repeat
    background-position center right
    border-radius 2px
    border 1px solid var(--border)
    outline none
    -webkit-appearance none
    -moz-appearance none
    appearance none
