input-select
  select
    font 14px var(--monospace)
    padding 10px 20px 10px 10px
    background-color var(--window)
    background-repeat no-repeat
    background-position center right
    border 1px solid var(--border)
    outline none
    -webkit-appearance none
    -moz-appearance none
    appearance none

  label
    color var(--medium)
    font 12px/14px var(--subheader)
    font-weight 500
    text-transform uppercase
    letter-spacing 1px
    padding-bottom 10px
    display block
